---
import RootLayout from '../layouts/RootLayout.astro';
---

<RootLayout title="Allan Lalangan | Web Developer">
	<span class="font-['Times_New_Roman'] text-8xl font-bold italic">ᾰ</span>
</RootLayout>
